<div class="container">
 <% if flash[:notice] %>
 <div class="centered">
    <h1><span class="badge badge-secondary"><%= flash[:notice]%></span></h1>
    <div class="banner">
        <%= image_tag("error.jpg", :alt => "rss feed") %>
    </div>
</div>
<% else %>
<div>
        <h1><span class="badge badge-secondary">Result of goals by time!</span></h1>
</div>
    <div>
        <table class="table table-hover table-dark">
            <thead>
              <tr style="text-align: center;">
                <th scope="col">Season: <%= @season %></th>
                <th scope="col">Team: <%= @team_name %></th>
              </tr>
              <tr>
                <th scope="col">0-45 minutes (First Half)</th>
                <th scope="col">45-90 minutes (Second Half)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td> <%= @total_score['firstHalf'] %></td>
                <td><%= @total_score['secondHalf'] %></td>
              </tr>
            </tbody>
          </table>
    </div>
    <div>
      <% @total_score['firstHalf'] > @total_score['secondHalf'] ? @message = "First half it's on fire!" : @message = "Second half it's on fire!" %>
        <h1><span class="badge badge-secondary"><%= @message %></span></h1>
      </div>
</div>
<div class="banner">
    <%= image_tag("soccer.jpg", :alt => "rss feed") %>
</div>
<% end %>